.ProdutoCtn{
    border: 3px black solid;
    border-radius: 3px;
    background-color: white;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    padding: 10px; 
    width: 80%; 
    margin: 10px auto; 
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 3;
    
}
