.ProdutoCtn{
    border-top: 3px rgba(0, 0, 0, 0.158) solid;

    border-radius: 3px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    padding: 10px; 
    width: 80%; 
    margin: 10px auto; 
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 3;
    
}
