.PeleCtn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  padding: 10px; 
  width: 80%; 
  margin: 10px auto; 

  min-height: 230px;
}

