.PeleCtn {
  border: 3px solid black;
  border-radius: 3px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3px;
  padding: 10px; 
  width: 80%; 
  margin: 10px auto; 
}

body {
  background-color: pink;
  margin: 0;
  font-family: Arial, sans-serif;
  
}