.skinCareCtn {
    border-radius: 15px;
    box-shadow: 5px 5px 16px gainsboro;
    background-color: #e7ddff;
    max-width: 350px;
    min-height: 400px;

    display: flex;
    flex-direction: column; /* empilha elementos */
    align-items: center;
    justify-content: flex-start; /* começa do topo */
    padding: 15px;
    gap: 10px; /* espaço entre elementos */
}


.imageSC{
    width: 50px;
    height: 50px;
    
}