.skinCareCtn{

    border-radius: 15px;
    box-shadow: gainsboro 5px 5px 16px;
    background-color: #e7ddff;
    max-width: 350px;
    min-height: 400px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;

}
.imageSC{
    width: 50px;
    height: 50px;
    
}